*.exe
node_modules/
out/
scratch
to_refactor.ts
marky.test.ts
eden-md-out/
executable/LICENCE.md
executable/eden-mac-aarch
executable/eden-mac-x86-64
executable/eden.exe
sample/.obsidian/workspace.json